@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #fbfbf2;
  --color-primary-dark: #efeee7;
  --color-secondary: #efeee7;
  --color-black: #0b0014;
  --color-white: #ffffff;
  --font-mono: 'Roboto Mono', monospace;
  --font-serif: 'Source Serif 4', serif;

  --animate-fade-in-out: fade-in-out 3s forwards;

  @keyframes fade-in-out {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer utilities {
  html,
  body,
  span {
    @apply font-mono;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }

  button {
    @apply cursor-pointer;
  }
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--color-primary);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-radius: 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary-dark);
    border-color: var(--color-secondary);
  }

  .dark .scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .dark .scrollbar::-webkit-scrollbar-thumb {
    background-color: --alpha(var(--color-white) / 20%);
  }

  .dark .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-secondary);
    border-color: var(--color-primary-dark);
  }
}
