@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #FBFBF2;
  --color-primary-dark: #EFEEE7;
  --color-secondary: #EFEEE7;
  --color-black: #0B0014;
  --color-white: #FFFFFF;
}

@layer utilities {
  html, body, span {
    @apply font-mono;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}

button {
  @apply cursor-pointer;
}
