@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #fbfbf2;
  --color-primary-dark: #efeee7;
  --color-secondary: #efeee7;
  --color-black: #0b0014;
  --color-black-secondary: #837D83;
  --color-white: #ffffff;
  --color-highlight: #f1f1d4;
  --color-highlight-dark: #9874ff;
  --font-mono: 'Roboto Mono', monospace;
  --font-serif: 'Source Serif 4', serif;

  --animate-fade-in-out: fade-in-out 3s forwards;

  @keyframes fade-in-out {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer utilities {
  html,
  body,
  span {
    @apply font-mono;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }

  button {
    @apply cursor-pointer;
  }

  input,
  select {
    @apply focus:outline-black-secondary;
  }

  .no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
  }

  .scrollbar::-webkit-scrollbar {
    @apply w-2.5 h-2.5;
  }
  .scrollbar::-webkit-scrollbar-track {
    @apply rounded-[10px];
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-[--alpha(var(--color-black)_/_10%)] rounded-[10px] hover:bg-[color:var(--color-primary-dark)] hover:border-[color:var(--color-secondary)];
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  .dark .scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .dark .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-[--alpha(var(--color-white)_/_20%)] hover:bg-[color:var(--color-secondary)] hover:border-[color:var(--color-primary-dark)];
  }

  ::selection {
    background: var(--color-highlight);
    color: var(--color-black);
  }
  .dark ::selection {
    background: var(--color-highlight-dark);
    color: var(--color-white);
  }
}
